In [0]:
explain formatted select * from  apachedataingestion.lte.widetable_4g_site_gold2  where D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") and ne_id='eNB_85214';
explain formatted select * from  apachedataingestion.lte.view_widetable_4g_site_gold2  where D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") and ne_id='eNB_85214';
explain extended select * from  apachedataingestion.lte.view_widetable_4g_site_gold2 where D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") and ne_id='eNB_85214';
explain cost select * from  apachedataingestion.lte.view_widetable_4g_site_gold2 where D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") and ne_id='eNB_85214';


explain codegen select * from  apachedataingestion.lte.view_widetable_4g_site_gold2;


select *	from apachedataingestion.nr.ueconnectionnumberpergnb_nr_hr_silver a  where Daily  >=  date_format(date_add(now(), -5),"yyyy-MM-dd") 

select * from hive_metastore.default.cm_4g_cell_records;
select * from hive_metastore.default.cm_5g_cell_records;
select * from invt.cm_silver.freq_inf_test ;

select replace(location,'cNum',''),
case when len(replace(location,'cNum',''))=1 then replace(location,'cNum','') when len(replace(location,'cNum',''))=2 then left(replace(location,'cNum',''),1) else left(replace(location,'cNum',''),2) end Sector_ID,
case when len(replace(location,'cNum',''))=1 then 1 else right(replace(location,'cNum',''),1) end Carrier_ID,
* from apachedataingestion.lte.widetable_4g_site_gold2

show create table apachedataingestion.lte.widetable_4g_site_gold2


Sector_ID	If len(cnum)=1 then cnum elseif len(cNum)=2 then left(cnum,1) else left(cnum,2) end
Carrier_ID	If len(cNum)=1 then 1 else right (cnum,1) end


select *  from apachedataingestion.nr.widetable_5g_SA_hr_gold2 where CalendarDate >= date_format(date_add(now(), 0),"yyyy-MM-dd") 
;


select * from csv.`s3://samsung.s3.landing.stage/VZ/Acquisition/SNAP/test_cfda1_alarm_db_msd_20250306.csv` ;


insert into hive_metastore.default.fm_test
with aa as (  
select *
FROM read_files(
    's3://samsung.s3.landing.stage/VZ/Acquisition/SNAP/test_cfda1_alarm_db_msd_20250306.csv',
    format => 'csv',
    header => true) where seq_no='47841689'
)
select seq_no,try_parse_json (Fixed2Json(additional_text)) additional_text,Fixed2Json(additional_text) additional_text2 from aa

select seq_no,additional_text.object.event.commonEventHeader.domain from  hive_metastore.default.fm_test


select _c0 Context
FROM read_files(
    's3://apacheupsertdata/cm_data_config/ALL_PSM_CHK2_2025.csv',
    format => 'csv',
    header => false) 

 

select 
Date,
HR,
ENODEB,
Vendor_Flag,
eutrancell,
Carrier,
FSM_Total_ERAB_Brr_Drop_pct_den,
FSM_LTE_DataERABDrop_den
 from `snap`.`snap_carrierlevel_sea`.`snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold` 

where  HR = 16 and ENODEB = 255708 and CARRIER = 2


select Date,len(ENODEB)
 from `snap`.`snap_carrierlevel_sea`.`snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold`  group by Date,len(ENODEB)


select * from system.query.history where  date(start_time) = '2025-02-27' and executed_by='jw.kim1@sea.samsung.com'


 WITH query_costs AS 
( 
  SELECT q.query_id, q.statement_text, q.start_time, q.end_time, b.usage_quantity, p.default_price, (b.usage_quantity * p.default_price) AS estimated_cost 
  -- select *
  FROM system.query.history AS q 
  JOIN system.billing.usage AS b ON q.cluster_id = b.cluster_id AND q.start_time BETWEEN b.usage_start_time AND b.usage_end_time 
  JOIN system.billing.list_prices AS p ON b.sku_name = p.sku_name 
  ) 
SELECT query_id, statement_text, start_time, end_time, usage_quantity, default_price, estimated_cost FROM query_costs ORDER BY start_time DESC;


select * from system.query.history limit 10
select * from system.billing.usage limit 10
select * from system.billing.list_prices limit 10


select system.billing.usage.usage_start_time, system.billing.usage.usage_end_time, system.billing.usage.usage_quantity, system.billing.usage.usage_unit, system.billing.list_prices.pricing,
(cast(system.billing.usage.usage_quantity as double) * cast(system.billing.list_prices.pricing.default as double)) as total_cost from system.billing.usage 
join system.billing.list_prices on system.billing.usage.sku_name = system.billing.list_prices.sku_name

where date(system.billing.usage.usage_start_time) = '2025-02-26'and system.billing.usage.usage_metadata.warehouse_id = "9947b879c3ab5bab"


show create table system.billing.usage 





select distinct concat('Query_',query_source.job_info.job_id,'_',query_source.sql_query_id,'_',compute.warehouse_id) ID,statement_text 
-- select *
from system.query.history 
where date(start_time) =  date_format(date_add(now(), -1),"yyyy-MM-dd") 
and executed_by='jw.kim1@sea.samsung.com'   and client_application='Databricks Jobs'
--and query_source.job_info.job_id like '%571652649728104%' 
--and compute.warehouse_id ='8a34b3e25bab6b10' and query_source.sql_query_id ='e50df9fc-511d-49ed-bc7f-9fd5367bbcbc'